 /* .container__imagenes {
    display: grid;
    align-items: center; 
    /* justify-content: space-between;  */
  } 
  
   /* .container__imagenes img {
    width: 50%; 
    object-fit: cover; 
  }
  
    .container__imagenes__card {
    display: flex;
    flex-direction: column;  
   
}    */ */
/*   
  .container__imagenes__card_description,
  .container__imagenes__card__precio,
  .container__imagenes__card__stock {
    margin: 5px 0; 
  
} */
   /* .container__imagenes__card__boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  } 
  
   .container__imagenes__card__boton:hover {
    background-color: #0056b3;
  }  */
  
  
    